 
  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
  
  
  @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'raleway';
    background-color: #16161600;
    position: relative; 
}


h1 {
    font-size: 60px;
    font-family: 'raleway', sans-serif
    color: white;
}
p{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 30px;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
a{
    text-decoration: none;
}
header{
    position: ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    background-color: #000000eb;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;      
}
.controls {
    box-shadow: 1px 1px 10px 1px #00000000;
    display: flex;
    gap: 15px;
    background-color: #f00c0c00;
    align-items: center;
    padding: 5px ;
    border-radius: 15px;justify-content: end;
}
.volume{
    appearance: none;
    background: white;
    height: 3px;
}
.toggle{
    color: white;
}
.form {
    padding: 20px 30px;
    background-color: #1e1e1eeb;
    grid-column-start:1 ;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color:whitesmoke;
    height:100% ; 
    z-index: -1; 
    border
}
.texto {
    width: 80%;
}
.redes {
    padding: 20px 30px;
    background-color: rgba(0, 255, 255, 0);
    grid-column-start:2 ;
    grid-column-end:-1 ;
    height:100% ;
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 0, 0));
}
.redes a{
    color: #ebebeb;
    font-size: 30px;
}
.amarillo{
    color: yellow;
}
.azul{
    color: blue;
}
.rojo{
    color: red;
}
.reloj{
    color: white;
    font-family: 'Braah One', sans-serif;
    font-size: 20px;
}
hr {
    color: white;
    width: 40%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    
    /* Iguala el desplazamiento del control deslizante más allá de la pista */
    background: #ffffff;
    border-radius: 50%;
    /* La apariencia se establece en redonda */
    
   
}
.newsletter {
    margin-top: 30px;
    background-color: white;
    padding: 3px;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    background-color: #00000000;
    border: 1px solid #ffffff;
}
input {
    /* background-color: #00000000;
    border: rgba(128, 128, 128, 0);
    padding-left: 5px;
    font-size: 15px;
    color: white;
    padding: 10px; */
}
button {
    border: none;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
} */
.player{
    background-color: #f40202;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    align-items: center   ;
    justify-content: center;
    font-size: 20px;
    gap: 15px;
}
  

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    background-color: rgba(127, 255, 212, 0);
    
}
.menu {
    
    width: 100;
    background-color: #000000;
    color: white;
    display: none;
    
}
.show {
    display:block;
    
}
.menu li {
    width: 50%;
    padding: 15px;
    border-bottom: 0.1px solid #3b3b3b;
    cursor: pointer;
    
}
.menu li:hover {
    color: rgb(184, 184, 184);
}
.menu li a:active {
    color: rgb(108, 108, 108);
}
.menu a{
    color: white;
}
.play:hover {
    color: gray;
}
.pause:hover {
    color:gray;
}
video {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
   
    height: 100%;
    object-fit: cover;
}
.play, .pause {
    cursor: pointer;
    color: white;
}
@media only screen and (max-width: 880px) {
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;      
    }    
    .form {
        grid-column-start:1 ;
        grid-column-end:-1 ;
        align-items: center;
        text-align: left;
        position: relative;     
    }
    .form i{
        display: none;

    }
    .redes {
        grid-column-start:1;
        grid-column-end:-1 ;
        flex-direction:row ; 
        position: ;   
    }
    input {
        width: 150px;
    }
    h1 {
        font-size: 40px;
    }
    .newsletter button{
       color: #000000;
    }
    header {
        grid-template-columns: 1fr;
        position: ;
        
    }
    .player {
        place-self: center;
        flex-direction: column;
    }
    .menu li {
        width: 100%;
    } 
    
  }

   
  
  
