*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    font-family: 'raleway', sans-serif;
    overflow-x: hidden; 
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.948);
    height: 100%;
    padding: 30px 50px;   
}
header a{
    color: white;
    text-decoration: none;
}
.contenedor {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
height: 100vh;
}
.form {
    background-color: rgba(0, 0, 0, 0.948);
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    grid-column-start:1 ;
    grid-column-end: 2;   
}
.redes {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content:start ;
    align-items: end;
    height: 100%; 
}
.redes a {
    text-decoration: none;
    color: rgb(255, 255, 255);
   
    font-size: 40px;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
}
input {
    width: 300px;
    height: 50px;
    text-align: ;
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 20px;
}
p {
    text-align: left;
    font-size: 25px;
    font-weight: 200;
}
button {
    width: 100px;
    height: 50px;
}
.amarillo {  
    color: yellow;
}
.azul {
    color: blue;
}
.rojo{
    color: red;
}

span{
    font-size: 30px;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;    
}
.video::before {
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.744), rgba(255, 0, 150, 0.3));
    z-index: 1;
}
@media only screen and (max-width: 700px) {
    .contenedor {
      grid-template-columns:1fr;
      grid-template-rows: 1fr 1fr;
    }
    .redes {
        flex-direction: row;
        justify-content: center;
        align-items: end;
        padding: 0px;       
    }
    .video {
        top: 50%;
        right: 100%;
        height: 50%;
    }
    header {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    .form i {
        display: none;
        
    }
    .form {
        justify-content: center;
    }
  }
